absl-py
accelerate
aiohappyeyeballs
aiohttp
aioprometheus
aiosignal
annotated-types
anyio
async-timeout
attrs
bitsandbytes
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
datasets
deepspeed
dill
diskcache
distro
docstring_parser
einops
evaluate
exceptiongroup
fastapi
filelock
flash-attn
fonttools
frozenlist
fsspec
gguf
grpcio
h11
hjson
httpcore
httptools
httpx
huggingface-hub
idna
importlib_metadata
interegular
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kiwisolver
lark
llvmlite
lm-format-enforcer
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mistral_common
mpmath
msgpack
msgspec
multidict
multiprocess
nest-asyncio
networkx
ninja
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
opencv-python-headless
orjson
outlines
packaging
pandas
partial-json-parser
peft
pillow
prometheus-fastapi-instrumentator
prometheus_client
protobuf
psutil
py-cpuinfo
pyairports
pyarrow
pycountry
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
quantile-python
ray
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentencepiece
shtab
six
sniffio
starlette
sympy
tensorboard
tensorboard-data-server
threadpoolctl
tiktoken
tokenizers
torch
torchvision
tqdm
transformers
triton
trl
typing_extensions
tyro
tzdata
urllib3
uvicorn
uvloop
vllm
vllm-flash-attn
watchfiles
websockets
Werkzeug
xformers
xxhash
yarl
zipp
